.headerDesign{
    height: 10vh;
    background-color: #8a817c;
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: space-between;}

.headersName{
    margin-right: 2em;
}

.span{
    color: #aec3b0;
}

.logo{
    margin-left: 1em;
    height: 5.5em;
    display: flex;
}